{% extends 'layouts/base.html' %}
{% load static %} 
{% block title %}Agregar normativa{% endblock %} 
{% block styles %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock %} {% block content %}
<div class="page-header" style="justify-content: space-between">
	<h2 class="page-title">Agregar normativa</h2>
</div>
<div class="page-content">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %} 
        <div style="display: flex; flex-direction: column; gap: 15px; margin: 25px;">
         	<label for="{{form.title.name}}">{{ form.title.label }}</label>
			<span>{{ form.title.errors }}</span>
			<input class="form-input" type="text" name="{{form.title.name}}" placeholder="Nombre del reglamento" />
        </div>
       
        <label for="{{form.file.name}}">{{ form.file.label }}</label>
		<span>{{ form.file.errors }}</span>
        <input type="file" name="{{form.file.name}}" accept="application/pdf" />
		<div style="margin-top: 25px; display: flex; justify-content: end; gap: 15px;">
			<button class="btn-primary" type="submit">Subir</button>
			<a class="btn-secondary" href="{% url 'documents' %}">Cancelar</a>
		</div>
	</form>
</div>
{% endblock %}
